.container
{
    display: block;
    max-width: 800px;
    margin: auto;
    text-align: center;
    align-items: center;
    height: 200px;
}

body
{
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px; /*размер шрифта*/
    font-weight: normal; /*тольщина шрифта*/
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif; /*тип шрифта*/

    /*font: normal 16px Cambria, Cochin, Georgia, Times, Times New Roman, serif;*/ /*аналогичный способ задания вышеописанных свойств одним свойством*/
}

.form-group textarea{

    width: 100%;
    font-size: 14px;
    color: black;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-family: inherit;
    padding-bottom:5px;
    margin-bottom: 10px;
}
